body{
    text-align: center;
    background-color: darkslategray;
}
#map { 
    background-color: white;
    margin: auto;
    width: 95vw; 
    height: 95vh; 
}

.dropdown { 
    display: inline-block; 
    position: relative; 
  } 

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
